<div id="<%= dom_id contract %>">
  <p>
    <strong>Chain:</strong>
    <%= contract.chain_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= contract.content %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= contract.address %>
  </p>

  <p>
    <strong>Operator address:</strong>
    <%= contract.operator_address %>
  </p>

  <p>
    <strong>Rpc server:</strong>
    <%= contract.rpc_server %>
  </p>

</div>
